<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
	<link href="static/styles.css" rel="stylesheet">
	<link href="static/fonts/fonts.css" rel="stylesheet">
	<title>Barker - Bark at people near you!</title>
	</head>
	
	<body>
		<div id="login">
		<h1>Barker</h1>
		</div>
		
	<div id="container">
		<div class="forminput">
		    {% for greeting in greetings %}
				{% if greeting.author %}
					<strong>{{ greeting.author.email }}
					  {% if user and user.user_id() == greeting.author.identity %}
						(You)
					  {% endif %}
					</strong> wrote:
				  {% else %}
				   You wrote:
				  {% endif %}
				  <blockquote>{{ greeting.content }}</blockquote>
				  <hr>
				{% endfor %}
	
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div class="forminput"><textarea name="content" rows="15" cols="100"></textarea></div>
      <div class="forminput"><input id="bark" type="submit" value="Bark!"></div>
    </form>
    <a id="login_button" href="{{ url|safe }}">{{ url_linktext }}</a>

	
	<ul>
		<li><a href="about.html">About</a></li>
		<li><a href="credits.html">Credits</a></li>
		<li><a href="https://github.com/tiatmed/Barker">Source Code</a></li>
	<ul>
	
	</div>	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59571152-2', 'auto');
	  ga('send', 'pageview');

	</script>	
	</body>
</html>
{% endautoescape %}